{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Create Listing{% endblock %}</h1>
{% endblock %}
{% block content %}
  <form class="container is-max-tablet" action="/listings" method="post">
    {% if errors %}
      <p>There were errors with your submission: {{ errors }}</p>
    {% endif %}

    <div class="field">
      <label class="label" for="host_id">Host ID</label>
      <div class="control">
        <input
          class="input"
          placeholder="host ID"
          type="text"
          name="host_id"
          id="host_id"
        />
      </div>
    </div>

    <div class="field">
      <label class="label" for="title">Title</label>
      <div class"control">
        <input class="input" placeholder="title" type="text" name="title" id="title" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="description">Description</label>
      <div class"control">
        <textarea class="input" placeholder="description" type="text" name="description" id="description"></textarea>
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="address">Address</label>
      <div class"control">
        <input class="input" placeholder="address" type="text" name="address" id="address" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="city">City</label>
      <div class"control">
        <input class="input" placeholder="city" type="text" name="city" id="city" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="state">State</label>
      <div class"control">
        <input class="input" placeholder="state" type="text" name="state" id="state" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="country">Country</label>
      <div class"control">
        <input class="input" placeholder="country" type="text" name="country" id="country" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="price_per_night">Price per night</label>
      <div class"control">
        <input class="input" placeholder="price per night" type="text" name="price_per_night" id="price_per_night" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="max_guests">Max guests</label>
      <div class"control">
        <input class="input" placeholder="max guests" type="text" name="max_guests" id="max_guests" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="img_url_1">Image URL 1</label>
      <div class"control">
        <input class="input" placeholder="image url 1" type="text" name="img_url_1" id="img_url_1" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="img_url_2">Image URL 2</label>
      <div class"control">
        <input class="input" placeholder="image url 2" type="text" name="img_url_2" id="img_url_2" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="img_url_3">Image URL 3</label>
      <div class"control">
        <input class="input" placeholder="image url 3" type="text" name="img_url_3" id="img_url_3" />
      </div>
    </div>



    <div class="field">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
