{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block content %}
  <form class="container is-max-tablet" action="/users" method="post">
    {% if errors %}
      <p>There were errors with your submission: {{ errors }}</p>
    {% endif %}

    <div class="field">
      <label class="label" for="username">Username</label>
      <div class="control">
        <input
          class="input"
          placeholder="username"
          type="text"
          name="username"
          id="username"
        />
      </div>
    </div>

    <div class="field">
      <label class="label" for="email">Email</label>
      <div class"control">
        <input class="input" placeholder="email" type="text" name="email" id="email" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="password_hash">Password</label>
      <div class"control">
        <textarea class="input" placeholder="password_hash" type="text" name="password_hash" id="password_hash"></textarea>
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="first_name">First name</label>
      <div class"control">
        <input class="input" placeholder="first_name" type="text" name="first_name" id="first_name" />
      </div>
    </div>
    
    <div class="field">
      <label class="label" for="last_name">Last name</label>
      <div class"control">
        <input class="input" placeholder="last_name" type="text" name="last_name" id="last_name" />
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
    </div>
  </form>
{% endblock %}
